<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bird Page</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <!-- Include the shared header -->
    <%- include('./header.ejs') %>


    <h1>Bird Page</h1>
    <p>Birds are very special animals that have particular characteristics which are common amongst all of them. For instance, all of them have feathers, wings and two legs. Similarly, all birds lay eggs and are warm-blooded. They are very essential for our environment and exist in different breeds. Thus, an essay on birds will take us through their importance.</p>
</body>
</html>
