<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cat Page</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <!-- Include the shared header -->
    <%- include('./header.ejs') %>

    <h1>Cat Page</h1>
    <p>Cats are domestic animals. The scientific name of the cat is Felia catus. It is a very cute and adorable animal. Apart from tigers, cats belong to the family Felidae. The offspring of cats are called kittens. From kids to adults, everyone is fond of cats. Cats are very good friends of humans. They like to play with them. Cats usually feed on milk, meat, fish, mice, etc. Though cats are kept as domestic pets, they are clever hunters. They are very friendly animals and like to hunt mice and snakes. </p>
</body>
</html>
