<!-- header.ejs -->

<header>
  <nav>
      <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/dog">Dog</a></li>
          <li><a href="/cat">Cat</a></li>
          <li><a href="/bird">Bird</a></li>
          <li><a href="/fish">Fish</a></li>
      </ul>
  </nav>
</header>
