// views/students/index.jade

extends layout

block content
  h1 Students
  table.table.table-bordered
    thead
      tr
        th Student Number
        th First Name
        th Last Name
        th Email Address
    tbody
      each student in students
        tr
          td= student.studentNumber
          td= student.firstName
          td= student.lastName
          td= student.emailAddress

  a.btn.btn-primary(href='/students/new') Add New Student
