doctype html
html
  head
    title= title  
    link(rel='stylesheet', href='/stylesheets/style.css')
  link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')

body
  nav.navbar.navbar-expand-lg.navbar-light.bg-light
    a.navbar-brand(href='#') Your Full Name
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarNav.collapse.navbar-collapse
      ul.navbar-nav
        li.nav-item
          a.nav-link(href='/home') Home
        li.nav-item
          a.nav-link(href='/student') Student
  .jumbotron
    h1 Your Full Name
    p Welcome to my website!
    footer.footer
  p Your Student Number