// views/students/new.jade

extends layout

block content
  h1 Add New Student
  form(action='/students', method='POST')
    div.form-group
      label(for='studentNumber') Student Number
      input#studentNumber.form-control(type='text', name='studentNumber', required)
    div.form-group
      label(for='firstName') First Name
      input#firstName.form-control(type='text', name='firstName', required)
    div.form-group
      label(for='lastName') Last Name
      input#lastName.form-control(type='text', name='lastName', required)
    div.form-group
      label(for='emailAddress') Email Address
      input#emailAddress.form-control(type='email', name='emailAddress', required)
    button.btn.btn-primary(type='submit') Add Student
