<main role="main" class="container">
	<div class="starter-template">
        <form class="form-signin" method="post">
            <h1 class="h3 mb-3 font-weight-normal">{{title}}</h1>
            <label for="inputTitle" class="sr-only">Title</label>
            <input class="form-control" name="name" id="name" required  placeholder="Title*"/>
            <br />
            <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
            <a href="/Products" class="btn btn-lg btn-dark btn-block">
                Back to List
            </a>
        </form>
	</div>
</main><!-- /.container -->
