<div class="container-fluid">
    <div class="row flex-xl-nowrap">
        <main class="container" role="main">
            <div class="row">
                <div class="col-sm-8"><h1>{{title}}</h1></div>
                <div class="col-sm-4">
                    {{#if user}}
                    <a href="/Products/Add" class="btn btn-info add-new"><i class="fa fa-plus"></i>Add New</a>
                    {{/if}}
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Product</th>
                        {{#if user}}
                        <th scope="col">Actions</th>
                        {{/if}}
                    </tr>
                </thead>
                <tbody>
                    {{#each dataset}}
                    <tr>
                        <td>{{this.name}}</td>
                        {{#if ../user}}
                        <td>
                            <a href="/Products/Edit/{{this._id}}" class="btn btn-primary">Edit</a>
                            <a href="/Products/Delete/{{this._id}}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this item?');">Delete</a>
                        </td>
                        {{/if}}
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </main>
    </div>
</div>
